<div *ngIf="user">
	<h2 class="page-header">{{user.name}}</h2>
	<img src="https://ict4kids.files.wordpress.com/2013/05/mrc-2.png" class="rounded float-right" alt="...">
	<ul class="list-group">
		<li class="list-group-item"><h2><b>Username</b>:</h2><br> <h3>{{user.username}}</h3></li>
		<li class="list-group-item"><h2><b>Type</b>:</h2><br><h3>{{user.type}}</h3></li>
		<li class="list-group-item"><h2><b>Experience</b>:</h2><br><h3>{{user.experienece}} months</h3></li>
		<li class="list-group-item"><h2><b>Profession</b>:</h2><br><h3>{{user.profession}}</h3></li>
		<li class="list-group-item"><h2><b>City</b>:</h2><br><h3>{{user.city}}</h3></li>
	</ul>
</div>